  # applies to all connecting clients (including mysql cli)
[client]
port= 3306

  # utf8mb4 allows max 4 bytes for character storage vs the 3 bytes that original utf8 allows
  # this lets mysql now store emojis and symbols.
default-character-set= utf8mb4


  # applies to the mysql server
[mysqld]
port = 3306
character-set-server= utf8mb4

  # Ignores client information and use the default server character set
  # Handshakes are ssl connections used for data privacy.

skip-character-set-client-handshake

  # Used to disable host name lookups. The server uses only IP addresses and not host names to
  # match connecting hosts to rows in the MySQL grant tables.
  # Use this when you have slow DNS connection plus lots of remote hosts.
  # Most of the time you will feel no impact when you change this, because most of the time DNS
  # servers work pretty fast. But when a DNS server fails, "unauthenticated connections" errors will appear
  # and your connection will be slow. Use this to avoid that problem
skip-name-resolve

  # Some OS systems are case-sensitive, and the OS case sensitivity affects SQL's case sensitivity.
  # Value can be from 0-2, and sets how SQL creates and stores tables/dbs in lowercase
  # This value makes sure MySQL converts all table names to lowercase on storage and lookup.
lower_case_table_names = 1

default-storage-engine = InnoDB

  # Default is to throw all data into one big file
  # Tablespace is not shared among different tables, and it is possible to regain space per tablespace
  # Important because tablespace never reduces in size
  # For small tables, the value will be 0. Large tables = 1
innodb_file_per_table = 1


  # The new default authentication is now caching_sha2_password which is incompatible with older projects.
  # You will get this error when trying to use MySQL Workbench or the like with the newer MySQL v8.0:
  # "Unable to load plugin 'caching_sha2_password'
default-authentication-plugin = mysql_native_password

  # Controls server-side LOCAL capability. Depending on the local_infile setting, the
  # server refuses or permits local data loading by clients that have LOCAL enabled on the client side.
  # By default, local-infile is disabled.
local-infile = 1
